@import '../../global.css';

@media (max-width: 600px) {
    .banner {
        display: none;
    }

    .logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 500px;
    }

    .logo-container img + img {
        display: none;
    }

    .container section.form form .register a{
        display: none;
    }

    .register-mobile {
        font-weight: Roboto;
        font-size: 16px;
        font-weight: 500;

        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        margin-top: 16px;
    }

    .register-mobile a {
        color: var(--link);
        text-decoration: none;
    }

    .facebook-login {
        font-weight: Roboto;
        font-size: 16px;
        font-weight: 500;

        width: 85%;
        position: absolute;
        bottom: 24px;
        left: 24px;
    }
    .facebook-login div {
        border-top: 2px solid var(--outline);
        margin-bottom: 4px;
    }
    .facebook-login a {
        color: var(--link);
        text-decoration: none;
    }

    .container section  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 300px;
    }

    .container section form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}
@media(min-width: 600px) {
    .register-mobile {
        display: none;
    }
    .facebook-login {
        display: none;
    }

    .container section.form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 450px;
    
        margin-left: 60px;
    }

    .register-mobile {
        margin-top: 12px;
    }
}

@media(max-height: 600px) {
    .facebook-login {
        position: absolute;
        bottom: 12px;
        left: 12px;
    }
}

@media(max-width: 800px) {
    .container {
        flex-direction: column;
    }
}

@media(min-height: 1000px) {
    .banner {
        width: 450px;
    }
   
}

@media(min-height: 1000px)  and (min-width: 800) {
    .banner {
        height: 250px;
    }
    .container section.form form {
        margin-bottom: 12px;
    }
}

.container {
    width: 100%;
    height: 100vh;
    max-width: 1120px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container section.form form {
    margin-top: 40px;
}

.login-title {
    font-size: 24px;
    color: var(--dark);
    margin-top: 12px;
}



.container section.form .logo-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container section.form .logo-container img + img {
    margin-left: 12px;
}

.container section.form form .register {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container section.form form .register a:first-of-type  {
    margin-top: 16px;
}

.container section.form form .register a + a {
    margin-top: 8px;
}
