@import '../../global.css';

.confirm-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 1024px;
    padding: 0 24px;
    margin: 32px auto;
}

.confirm-main-container form .input-group {
    display: flex;
}

.confirm-main-container form .input-group input + input {
    margin-left: 8px;
}


.confirm-main-container .buttons-container {
    width: 100%;
}

.confirm-main-container .buttons-container button:first-of-type {
    background-color: #fff;
    color: var(--secondary);
    border: solid 1px var(--secondary);
    margin: 12px 0;
}

.confirm-main-container ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    list-style: none;
}

.confirm-main-container ul li {
    padding: 4px;
    width: 80%;
    margin-right: 32px;
    display: flex;
	flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 8px;
    background-color: #fff;
}

.confirm-main-container ul li span {
    font-weight: 500;
}

.confirm-main-container ul li .info-container {
    display: flex;
    margin: 4px 0 8px;
    width: 100%;
    max-height: 80%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.confirm-main-container ul li .info-container img {
    height: 150px;
    width: 200px;
    margin: 4px;
    border-radius: 8px;
}

.confirm-main-container ul li .info-container div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.confirm-main-container ul li .info-container div span{
    color: var(--secondary);
    font-weight: 700;
}

.closed {
    cursor: not-allowed;
    background-color: var(--outline);
    color: var(--gray);
}

.invalid-input {
    border-color:  var(--danger) !important;
}

.nothing-to-see {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: var(--secondary);
    font-weight: 500;
    font-size: 20px;
}

.invisible {
    display: none !important;
}

.mobile-view {
    display: none !important;
}

@media screen and (max-width: 600px) {
    .mobile-view {
        display: flex !important;
    }
    .desktop-view {
        display: none !important;
    }

    .confirm-main-container ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 24px;
        list-style: none;
    }
    
    .confirm-main-container ul li {
       align-self: center;
       width: 90%;
    }
    
    .confirm-main-container ul li span {
        font-weight: 500;
    }
    
    .confirm-main-container ul li .info-container {
        flex-direction: column;
    }
    
    .confirm-main-container ul li .info-container img {
        height: 150px;
        width: 200px;
        margin: 4px;
        border-radius: 8px;
    }
    
    .confirm-main-container ul li .info-container div {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .confirm-main-container ul li .info-container div span{
        color: var(--secondary);
        font-weight: 700;
    }
    
    
}