@import '../../global.css';

.container-sale-edit {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: calc(100vh - 24);
    max-width: 1024px;
    padding: 0 24px 12px;
    margin: 12px auto;
}

.container-sale-edit header {
    display: flex;
    margin: 12px 0 16px 0;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    color: var(--primary);
}

.container-sale-edit header svg {
    margin-right: 12px;
    font-size: 20px;
}

.container-sale-edit section form .button-container {
    margin-top: 12px;
}

.container-sale-edit section form .button-container {
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.container-sale-edit section form .button-container button:first-of-type{
    background-color: #fff;
    color: var(--secondary);
    border: 1px solid var(--secondary);
    width: 40%;
    margin-right: 12px;
}