@import '../../global.css';

.payment-info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    min-height: calc(100vh - 200px);
    max-width: 100vh;
    max-width: 1024px;
    padding: 0 24px;
    margin: 64px auto 12px;
    background-color: #fff;
    border-radius: 8px;
}

.payment-info-container header {
    justify-content: flex-start;
    align-items: center;
    margin: 32px auto;
}

.payment-info-container header svg {
    color: var(--primary);
    font-size: 24px;
}

.payment-info-container header span {
    font-weight: 700;
    margin-left: 12px;
    font-size: 18px;
}

.payment-info-container .payment-select {
    display: flex;
    justify-content: space-between;
}

.payment-info-container .payment-select .payment-type {
    width: 30%;
    margin-right: 16px;
}

.payment-info-container .payment-select .payment-type .button {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment-info-container .payment-select .payment-type .button svg {
    margin-right: 8px;

}

.payment-info-container .payment-select .payment-type .button span {
    text-transform: uppercase;
}



.payment-info-container .payment-select .payment-info-form {
    width: 60%;
    display: flex;;
    flex-direction: column;
    justify-content: space-between;
}

.payment-info-container .payment-select .payment-info-form .descripition p {
    margin: 16px auto;
    color: var(--gray);
    font-weight: 500;
}

.payment-info-container .payment-select .payment-info-form form {
    border: 0.1rem solid var(--secondary);
    border-radius: 8px;
    padding: 12px;
}

.payment-info-container .payment-select .payment-info-form form  p {
    color: var(--gray);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

.payment-info-container .payment-select .payment-info-form form  p svg {
    color: var(--primary);
    margin-right: 8px;
}

.payment-info-container  .available-payments-collaps {
    margin-top: 24px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.payment-info-container .button-container {
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}


.payment-info-container .button-container button:first-of-type {
    background-color: #fff;
    color: var(--secondary);
    border: 1px solid var(--secondary);
    margin-right: 12px;
    width: 20%;
}

.payment-info-container .button-container button + button {
    width: 50%;
}

.payment-info-container ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    list-style: none;
}

.payment-info-container ul li {
    width: 80%;
    margin-right: 32px;
    display: flex;
	flex-wrap: wrap;
	flex-direction: column;
    border-radius: 8px;
    border: 1px solid var(--secondary);
}

.payment-info-container ul li  label {
    display: flex;
	cursor: pointer;
	font-weight: 500;
	position: relative;
	overflow: hidden;
	margin-bottom: 0.375em;
}

.payment-info-container ul li input {
    position: absolute;
    left: -9999px;
}

.payment-info-container ul li label input:checked + span {
    /* background-color: var(--secondary); */
    text-transform: uppercase;
}

.payment-info-container ul li label input:checked + span:before {
    box-shadow: inset 0 0 0 0.4375em var(--secondary);
}


.payment-info-container ul li label span {
    display: flex;
    align-items: center;
    padding: 0.375em 0.75em 0.375em 0.375em;
    border-radius: 99em;
    transition: 0.25s ease;
}

.payment-info-container ul li label span:hover {
    background-color: #f0f0f0;
}
.payment-info-container ul li label span:before {
    display: flex;
    flex-shrink: 0;
    content: "";
    background-color: var(--background);
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin-right: 0.375em;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em var(--secondary);
}

.payment-info-container ul li div {
    padding: 8px;
}

.payment-info-container ul li div svg {
    color: var(--secondary);
    font-size: 16px;
    margin-right: 8px;
}

.payment-info-container ul li div span {
    font-weight: 500;
}

.payment-info-container ul li div p {
    display: flex;
    align-items: center;
    margin: 8px auto;
    font-weight: 500;
}

.payment-info-container ul li div .expiration {
    font-size: 14px;
    color: var(--gray);
}

@media screen and (max-width: 600px) {
    .payment-info-container {
        margin: 24px auto 12px;
        padding: 0 16px;
    }

    .payment-info-container header {
        margin: 24px auto;
    }

    .payment-info-container header svg {
        color: var(--primary);
        font-size: 20px;
    }

    .payment-info-container .payment-select {
        flex-direction: column;
    }

    .payment-info-container .payment-select .payment-type {
        width: 100%;
    }

    .payment-info-container .payment-select .payment-info-form {
        width: 100%;
        display: flex;;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 8px;
    }
}


/* @media(min-height: 700px)  and (min-width: 500px)  {
} */