@import '../../global.css';


.container-sales .user-sale-showcase {
    display: flex;
    margin: 12px 0 16px 0;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: var(--primary);
}

.container-sales .user-sale-showcase button {
    width: 20%;
    height: 52px;
    background:var(--secondary);
    font: 700 18px Roboto, sans-serif;
    border: 0;
    border-radius: 8px;
    transition: filter 0.2s;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: 60px;
    color: #FFF;
}

.container-sales .sales-list .no-sales {
    align-self: center;
    margin-top: 24px;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 600px) {

    .container-sales .user-sale-showcase button {
        width: 30%;
    }
}
